body {
  position: relative;
  text-align: center;
  min-width: 930px;
}
h2 {
  line-height: 1.6px;
  text-align: center;
}
h3 {
  margin: 4px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 2px 20px 2px;
  background: white;
  padding: 10px;
}
.remove-post{
  margin-top: 0;
}

.form label {
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form span {
  width: 120px;
  text-align: left;
}
.errors {
  margin: 4px 0;
  font-weight: bold;
  font-size: 22px;
  color: #e25028;
  text-align: center;
}

.post-errors {
  position: absolute;
  text-align: center;
  top: 20px;
  right:20px;
  z-index: 20;
  background: white;
  padding: 10px;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.user {
  text-align: left;
  border: 1px solid black;
  width: 40%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  min-width: 430px;
  background: #f8f8f8;
  position: relative;
}

.user-avatar {
  position: absolute;
  top: 30px;
  right: 24px;
  max-width: 100px;
  cursor: pointer;
}

.blog {
  border: 1px solid black;
  width: 60%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
  min-width: 430px;
}
textarea {
  resize: none;
  height: 100px;
}

.signout {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: red;
}

.blog-post {
  display: flex;
  flex-direction: column;
  border: 1px solid linen;
  margin: 6px 6px 16px 6px;
  padding: 4px 4px;
  position: relative;
  border: 1px solid lightgray;
}

.post-author {
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  padding: 4px;
}

.post-date {
  font-weight: 400;
  font-size: 12px;
  padding: 4px;
}

.post-content {
  font-weight: 400;
  font-size: 16px;
  padding: 4px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.post-content img {
  top: 0;
  right: 0;
  height: 80px;
  margin: 4px 6px;
  max-width: 100px;
  cursor: pointer;
}

.post-remove input {
  bottom: 0;
  right: 10px;
}

.confirmation-form {
  margin: 40px 0;
}

.imgDiv {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 10%;
  background-color:rgba(0, 0, 0, 0.5);
  top: 0;
  cursor: pointer;
}
.img {
  height: 60vh;
  border-radius: 10px;
  max-width: 100%;
  cursor: pointer;
}

input[type="number"],
input[type="email"],
input[type="text"],
input[type="password"]
{
  min-width: 200px;
  max-width: 200px;
}
input[type="submit"] {
  min-width: 300px;
  max-width: 300px;
  margin: 10px auto;
}
input.remove-post-button,
input[name="removeavatar"]
{
  min-width: 120px;
  max-width: 120px;
}

.sendpost {
  margin-top: 100px;
}

form[name="change_user"] {
  align-content: center;
}
form[name="change_user"] label {
  justify-content: space-between;
}
form[name="change_user"] label input {
  margin-left: 30px;
}

.user-post {
  border: 2px solid green;
}

.post-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.post-user-avatar {
  max-width: 60px;
  cursor: pointer;
}

.admin-data {
  font-weight: 700;
}

label.lbimages {
  margin-top: 10px;
}

.display-none {
  display: none;
}

.img-border {
  border: 1px solid lightgray;
  width: 100px;
}
.avatar-border {
  border: 1px solid lightgray;
  height: 60px;
  width: 60px;
}
